.login {
    background-color: black;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: white;
        font-size: 3em;
    }

    &__card {
        background-color: green;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 4px;
        font-size: 17px;
        box-shadow: green 0px 0px 0px 2px inset,
            rgb(255, 255, 255) 10px -10px 0px -3px, black 10px -10px;

        &>label {
            color: black;
            width: 100%;
            padding-block: 10px;
            font-weight: bold;
            font-size: 17px;
        }

        &>input {
            border-style: none;
            padding: 7px;
            border-radius: 4px;
            font-size: 17px;
        }

        &__login-btn {
            margin-top: 20px;
            padding: 10px 20px;
            border: none;
            background-color: black;
            color: white;
            border-radius: 5px;
            font-weight: bold;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }

    &__error {
        margin: 20px;
        background-color: rgb(243, 142, 142);
        padding: 10px 20px;
        border-radius: 10px;
        color: black;
        font-size: 18px;
    }
}