<div class="user">
    <h1>Listado de usuarios</h1>
    <div class="user__list">
      <div class="user__list__card" *ngFor="let user of usersList">
        <p class="user__list__card__name">{{user.email}}</p>
        <img
        src="{{user.avatar}}"
          class="user__list__card__img"
          alt="banner"
        />
        <div class="user__list__card__actions">
          <a class="user__list__card__actions__btn" [routerLink]="['user', user.id]">More</a>
          <button
            class="user__list__card__actions__btn"
            (click) = "delete_user(user.id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
