<div class="user">
    <h1>Listado de usuarios</h1>
    <div class="user__list">
      <div class="user__list__card">
        <p class="user__list__card__name">Juancho</p>
        <img
          class="user__list__card__img"
          alt="banner"
        />
        <div class="user__list__card__actions">
          <div
            class="user__list__card__actions__btn"
            >More</div
          >
          <button
            class="user__list__card__actions__btn"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
