<div class="detailed">
    <a class="detailed-btn">VOLVER ATRAS</a>
    <div class="detailed__card">
      <h1>{{user}}</h1>
      <div>
        <span class="detailed__card__row"
          ><p class="detailed__card__row__label">Nombre:</p>
          <p class="detailed__card__row__info">
            asd
          </p></span
        >
        <span class="detailed__card__row"
          ><p class="detailed__card__row__label">Apellidos:</p>
          <p class="detailed__card__row__info">
            almeida
          </p></span
        >
        <span class="detailed__card__row"
          ><p class="detailed__card__row__label">Email:</p>
          <p class="detailed__card__row__info">asdasd</p></span
        >
        <img alt="img" />
      </div>
      <!-- <div v-else>cargando..</div> -->
    </div>
  </div>
