
      <div class="register">
        <h1>Todavia no estas con nosotros? Crea gratis una cuenta</h1>
        <div class="register__card">
          <label for="">User</label>
          <input type="text" placeholder="email" />
          <label for="">Password</label>
          <input
            type="password"
            v-model="register_data.password"
            placeholder="password"
          />
          <button
            class="register__card__register-btn"
          >
            Crear
          </button>
        </div>
       <!--  <div class="register__success" >
          Tu cuenta se ha creado correctamente
        </div>
        <div class="register__error" >
          Ha habido un problema! Intentelo de nuevo
        </div> -->
      </div>

    

  
    
